{% extends "base.html" %}
{% load i18n %}

{% load widget_tweaks %}

{% block inner_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}theme/css/compiled/signup.css" type="text/css" media="screen" />
{% endblock %}

{% block body_content %}
    <div class="header login-header">
    </div>
    <div class="login-wrapper">
        <a href="/" class="top-home-link">
            ABSLY
        </a>

        <div class="box">
            <div class="content-wrap">
            <div class="alert-warning">
                {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% endif %}
            </div>

            {% if form.errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {% for field in form %}
                        {% if field.errors %}
                            <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

                <h6>Log in</h6>
            <form method="POST">
                {% csrf_token %}
                {{ form.username|add_class:"form-control"|attr:"placeholder:E-mail address" }}
                {{ form.password|add_class:"form-control"|attr:"placeholder:Your password" }}
                <input name="next" value="/" type="hidden" />
{#                <input class="form-control" type="text" placeholder="E-mail address">#}
{#                <input class="form-control" type="password" placeholder="Your password">#}
{#                <a href="#" class="forgot">Forgot password?</a>#}
{#                <div class="remember">#}
{#                    <input id="remember-me" type="checkbox">#}
{#                </div>#}
            <button type="submit" class="btn-glow primary login">Log in</button>
{#                <input type="submit" class="btn-glow primary login"  />Log in#}
                </form>
            </div>
        </div>

        <div class="no-account">
            <p>Don't have an account?</p>
            <a href="{% url 'registration_register' %}">Sign up</a>
        </div>
    </div>
{% endblock %}
