{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
    <div class="container">
        <h1>Рекомендованные новости</h1>
        {% for s in news %}
            <div class="system-notifications panel panel-default">
                <div class="panel-heading">
                    <span class="pull-right">{{ s.created }}</span>
                    <a href="{{ s.link }}" target="_blank">{{ s.title }}</a>
                </div>
                <div class="panel-body">
                    {% thumbnail s.icon '100x100' crop='center' as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                     {% endthumbnail %}
                    {{ s.desc }}
                    <div>
                        <a href="{{ s.link }}" target="_blank">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}