{% load widget_tweaks %}

<form method="POST" class="summary-block-add" action="{{ backurl }}" enctype="multipart/form-data">
    <input name="csrfmiddlewaretoken" value="{{ csrf_token_value }}" type="hidden" />
    {% for field in form %}
        <div class="form-group">
            {{ field|add_class:"form-control" }}
        </div>
    {% endfor %}
    {% if form.instance %}
        <button class="btn btn-danger">Удалить</button>
    {% endif %}
    <button class=" pull-right btn btn-default">Сохранить</button>
</form>
