{% load widget_tweaks %}

<form method="post" id="edit-canvas-element-form-id">
    <input name="csrfmiddlewaretoken" value="{{ csrf_token_value }}" type="hidden" />
    <div class="modal-body">
        <div style="display: none;" class="alert-success">
            Элемент успешно добавлен
        </div>
        <div class="modal-form-body">
            {% for log in form.instance.get_logs %}
                <div class="canvas-log-element">
                    <div>[{{ log.created }}] {{ log.get_old_value_display }} -> {{ log.get_new_value_display }}</div>
                    <div>{{ log.text }}</div>
                </div>
            {% endfor %}

            {% if form.instance.pk %}
                <input name="element" type="hidden" value="{{ form.instance.pk }}" />
            {% endif %}
            {% if form.param_0 %}
                <div class="form-group">
                    {{ form.param_0.label }}
                    {{ form.param_0|add_class:"form-control" }}
                </div>
            {% endif %}
            {% if form.param_1 %}
                <div class="form-group">
                    {{ form.param_1.label }}
                    {{ form.param_1|add_class:"form-control" }}
                </div>
            {% endif %}
            {% if form.param_2 %}
                <div class="form-group">
                    {{ form.param_2.label }}
                    {{ form.param_2|add_class:"form-control" }}
                </div>
            {% endif %}
            {{ form.block }}
            {% if not block.is_segment %}
            <div class="form-group">
                <label>Сегмент пользователя</label>
                {{ form.segment|add_class:"form-control" }}
            </div>
            {% endif %}
            <div class="form-group">
                <label>Название элемента</label>
                {{ form.name|add_class:"form-control" }}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary edit-btn">{% if form.instance.pk %}Сохранить{% else %}Добавить{% endif %}</button>
        {% if form.instance.pk %}
            <button type="submit" class="pull-left btn btn-danger del-btn">Удалить</button>
        {% endif %}
    </div>
</form>
