{% load widget_tweaks %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Change Level: {{ prev_status }} -> {{ next_status }}</h4>
</div>
<form method="post" id="canvas-log-modal-form">
    <input name="csrfmiddlewaretoken" value="{{ csrf_token_value }}" type="hidden" />
    <div class="modal-body">
        <div style="display: none;" class="alert-success">
            Level successfully upgraded
        </div>
        <div class="modal-form-body">
            {{ log_form.old_value }}
            {{ log_form.new_value }}
            {{ log_form.element }}
            {{ log_form.text }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
