.top {
    height: 50px;
}
.top-menu {
    margin-right: 20px;
    min-width: 200px;
}
.top-menu-dropdown-link {
    line-height: 50px;
}

.dropdown-menu li {
    text-align: right;
}

.sort span {
    display: inline-block;
    float: left;
    padding-top: 10px;
    margin-right: 20px;
}