.top {
    height: 70px;
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.top-menu {
    margin-right: 20px;
    min-width: 200px;
}
.top-menu-dropdown-link {
    line-height: 50px;
}

.dropdown-menu li {
    text-align: right;
}

.sort span {
    display: inline-block;
    float: left;
    padding-top: 10px;
    margin-right: 20px;
}

.events {
    margin-top: 20px;
}

.events-item-info p {
    min-height: 50px;
}

.events-item .glyphicon-remove {
    color: #333;
}

.startup-menu {
    margin-bottom: 20px;
}

.startup-menu ul {
}

.border-strategy {
    min-height: 500px;
    border-left: 1px solid #ccc;
}

.strategy-log {
    padding: 10px;
}

.strategy-steps ul li {
    list-style: none;
}

.strategy-steps-done ul li {
    opacity: 0.4;
}

.strategy-recomendation {
    padding-right: 30px;
}

.strategy-recomendation a span {
    padding-right: 10px;
    font-size: 18px;
    color: #777;
}

.login-form {
    width: 300px;
    margin: 0 auto;
}

ul.main-objects {
    padding-left: 0px;
}

ul.main-objects ul {
    padding-left: 10px;
}

ul.main-objects > li > a {
    font-size: 18px;
}

ul.main-objects > li > ul > li {
    font-size: 16px;
}

ul.main-objects li {
    list-style: none;
}

.steps-recomendations h2 span {
    color: #428bca;
}

.steps-recomendations-item a {
    color: #333;
}
.steps-recomendations-item.bg-primary a,
.steps-recomendations-item.bg-primary {
    color: #fff;
}
.steps-done-item,
.steps-recomendations-item {
    color: #333;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.steps-done-item a span {
    margin-top: 2px;
}

.steps-in-progress-item-step {
    color: white;
}

.steps-in-progress-item {
    margin-bottom: 20px;
}

.steps-in-progress-item-step.width-100 {
    width: 95%;
}

.steps-in-progress-item-step.width-50 {
    width: 80%;
}

.steps-in-progress-item-step.width-70 {
    width: 77%;
}

.steps-in-progress-item a {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #ccc;
}

.steps-in-progress-item a:first-of-type{
    border-left: 0px;
}

.steps-in-progress-tasks li {
    list-style: none;
}

.steps-in-progress-tasks li > a.remove-task {
    display: none;
    color: #777;
}

.steps-in-progress-tasks li:hover > a.remove-task {
    display: inline-block;
}

#charts {
    /*margin-left: 50px;*/
}

.steps-in-progress-item-step-text {
    padding: 15px;
    background: #428bca;
}
.steps-in-progress-item-step-date {
    background: #ffffff;
    float: right;
    width: 100px;
    color: #777;
    padding: 15px;}

.timelines {
    position: absolute;
    right: 0px;
    margin-right: 200px;
}

.timelines div {
    min-height: 380px;
    width: 100px;
    border-left: 1px dashed #777;
    float: left;
}

.steps-done-item .steps-done-item-desc {
    display: none;
}

.top-charts {
    height: 50px;
    width: 130px;
}

.top-charts span {
    position: absolute;
}

.top-charts span.data {
    margin-left: 20px;
}

.metrics-item-left {
    text-align: center;
    width: 100px;
    float: left;
}

.summary .es-description {
    margin-bottom: 30px;
}

/*.summary .sub-links span.glyphicon-ok {*/
    /*color: green;*/
/*}*/

/*.summary .sub-links span.glyphicon-remove {*/
    /*color: red;*/
/*}*/

.summary .es-data h2 {
    text-align: center;
}

.summary .main-link a {
    font-size: 18px;
    text-decoration: underline;
}

.es-item-text-area,
.es-item-text-view {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
}

.es-item-text.done .es-item-text-area,
.es-item-text.done .es-item-text-view {
    border: 1px solid #02c35b;
}
.es-item-text.empty .es-item-text-area,
.es-item-text.empty .es-item-text-view {
    border: 1px solid #c30532;
}

.es-item-text-view:hover {
    cursor: text;
}

.es-item-btns {
    position: relative;
    min-height: 45px;
}

.es-item-btns button {
    position: absolute;
    right: 0;
    top: 0;
}

.es-addon-btns {
    text-align: right;
    margin-bottom: 50px;
}

.es-addon-btns button {
    margin-bottom: 10px;
}

.navbar-nav>li>a {
    padding-left: 5px;
    padding-right: 5px;
}

.canvas-block-items {
    padding-left: 0;
    margin-left: 0;
}

.canvas-block-items li {
    list-style: none;
}

.canvas-block-items li.active {
    padding-left: 20px;
}