{% load canvas_filters %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ABSLY.com - Executive Summary of project Google</title>
    <!-- bootstrap -->
{#    <link href="{{ STATIC_URL }}theme/css/bootstrap/bootstrap.css" rel="stylesheet" />#}
    <style>
    @font-face { font-family: Arial; src: url("{{ FONTS_DIR }}arial.ttf"); }
        body {
            font-family: Arial;
        }
        .al-body img {
            float: left;
            width: 100px;
            margin-right: 20px;
        }

        .al-desc {
            margin-left: 120px;
        }


        .al-title {
            font-size: 16px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Executive summary for project PROJECT_NAME</h1>

        {% for sg in summary_groups %}
            <a name="{{ sg.name }}"></a>
            <h2>{{ sg.name }}</h2>
            {% for si in sg.items.all|by_user:request.user %}
                <div class="es-data">
                    <a name="{{ si.name }}"></a>
                    <h3>{{ si.name }}</h3>
                        {% for block in si.blocks.all %}
                            <div class="es-block">
                                {{ block.render_to_pdf|safe }}
                            </div>
                        {% endfor %}

                        {% for sic in si.childs.all %}
                            <h4>{{ sic.name }}</h4>
                            {% for block in sic.blocks.all %}
                                <div class="es-block">
                                    {{ block.render_to_pdf|safe }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                </div>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>