<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ABSLY.com - Executive Summary of project Google</title>
    <!-- bootstrap -->
{#    <link href="{{ STATIC_URL }}theme/css/bootstrap/bootstrap.css" rel="stylesheet" />#}
    <style>
    @font-face { font-family: Arial; src: url("{{ FONTS_DIR }}arial.ttf"); }
        body {
            font-family: Arial;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Executive summary for project PROJECT_NAME</h1>

        {% for item in items %}
            <div>
                <h2>{{ item.name }}</h2>
                {% for block in item.blocks.all %}
                    <div>
                        {{ block.render_to_pdf|safe }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>