<!DOCTYPE html>
<html>
<head lang="ru">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>ABSLY.com - Executive Summary of project Google</title>
    <!-- bootstrap -->
    <link href="{{ STATIC_URL }}theme/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}theme/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- libraries -->
    <link href="{{ STATIC_URL }}theme/css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}theme/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/css/compiled/layout.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/css/compiled/elements.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/css/compiled/icons.css" />

    {% block inner_css %}
    <!-- this page specific styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}theme/css/compiled/index.css" type="text/css" media="screen" />
    {% endblock %}

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!-- lato font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ STATIC_URL }}css/steps.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/raphael-min.js"></script>
    <script src="{{ STATIC_URL }}js/g.raphael-min.js"></script>
    <script src="{{ STATIC_URL }}js/g.pie-min.js"></script>
    <script src="{{ STATIC_URL }}js/g.bar-min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}theme/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}theme/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="{{ STATIC_URL }}theme/js/jquery.knob.js"></script>
    <script src="{{ STATIC_URL }}theme/js/jquery.flot.js"></script>
    <script src="{{ STATIC_URL }}theme/js/jquery.flot.stack.js"></script>
    <script src="{{ STATIC_URL }}theme/js/jquery.flot.resize.js"></script>
    <script src="{{ STATIC_URL }}theme/js/theme.js"></script>
    <script src="{{ STATIC_URL }}js/underscore-min.js"></script>

</head>
<body>
    <div class="container">
        <h1>Executive summary for project PROJECT_NAME</h1>

        {% for key, values in json.items %}
            <h1>{{ key }}</h1>
            <div>
                {% for key, values in values.items %}
                    <h2>{{ key }}</h2>
                    <div>
                        {{ values }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </div>
</body>
</html>