<div class="steps-recomendations-item">
    <a href="#" rel="{{ step.pk }}"><span class="icon-check-empty"></span></a> {{ step.title }}
        {% if step.subtasks %}
            <ul class="steps-in-progress-tasks">
                {% for task in step.subtasks.all %}
                    <li>
                        <label>
                            <input type="checkbox" checked="checked" /> {{ task.title }}
                        </label>
                        <a href="#" class="remove-task">
                            <span class="icon-remove"></span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
</div>
