<div class="steps-recomendations-item bg-step">
    <a href="#" rel="{{ step.pk }}"> {{ step.title }} <span class="{% if step.is_clear_deadline %}red{% endif %}">{{ step.get_deadline_last }}</span> {{ step.deadline }} </a>
        {% if step.subtasks %}
            <ul class="steps-in-progress-tasks">
                {% for task in step.subtasks.all %}
                    <li>
                        <label>
                            <input type="checkbox" checked="checked" /> {{ task.title }}
                        </label>
                        <a href="#" class="remove-task">
                            <span class="icon-remove"></span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
</div>
