<div class="steps-recomendations-item">
    <a href="#" rel="{{ step.pk }}"><span class="icon-check-empty"></span></a> Test blogging channel 2
        <ul class="steps-in-progress-tasks">
            <li>
                <label>
                    <input type="checkbox" checked="checked" /> Register in Facebook
                </label>
                <a href="#" class="remove-task">
                    <span class="icon-remove"></span>
                </a>
            </li>
            <li>
                <label>
                    <input type="checkbox" /> Register in LinkedIn
                </label>
                <a href="#" class="remove-task">
                    <span class="icon-remove"></span>
                </a>
            </li>
            <li>
                <label>
                    <input type="checkbox" /> Register in Twitter
                </label>
                <a href="#" class="remove-task">
                    <span class="icon-remove"></span>
                </a>
            </li>
        </ul>
</div>
