{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>{{ s.title }}</h1>
        <div class="system-notifications panel panel-default">
            <div class="panel-heading">
                <span class="pull-right">{{ s.created }}</span>
                <a href="#">{{ s.title }}</a>
            </div>
            <div class="panel-body">
                {{ s.text }}
            </div>
        </div>
        {% for comment in s.get_comments %}
            <div class="system-comment">
                <div>
                    <span>{{ comment.user.username }}</span>
                    <span class="pull-right">{{ comment.created }}</span>
                </div>
                <div>
                    {{ comment.text }}
                </div>
            </div>
        {% endfor %}
        <div>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Ваш комментарий:</label>
                    {{ form.text|add_class:"form-control" }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}