{% extends 'base.html' %}

{% block content %}
    <div class="container canvas">
        <table height="100%" class="table table-bordered">
            <tr style="height: 250px">
                <td rowspan="2">Key Partners</td>
                <td>Key Activities</td>
                <td colspan="2" rowspan="2">Value Proposition</td>
                <td>Customer Relationship</td>
                <td rowspan="2">Customer Segments
                    <ul>
                        <li>
                            <a href="#">Venture Funds</a>
                        </li>
                        <li>
                            <a href="#">Business Angles</a>
                        </li>
                        <li>
                            <a href="#">CEO of startups</a>
                        </li>
                    </ul>
                    <div class="form-group">
                        <input type="text" class="form-control" />
                    </div>
                </td>
            </tr>
            <tr style="height: 250px">
                <td>Key Resources</td>
                <td>Channles</td>
            </tr>
            <tr style="height: 100px">
                <td colspan="3">Cost Structure</td>
                <td colspan="3">Revenue Streams</td>
            </tr>
        </table>
    </div>
{% endblock %}