{% extends 'base.html' %}

{% block content %}
    <div class="container canvas">
        <table height="100%" class="table table-bordered">
            <tr style="height: 200px">
                <td width="20%" rowspan="2">
                    {% with block=kp %}
                        {% include 'bm-canvas/block.html' %}
                    {% endwith %}
                </td>
                <td width="20%">
                    {% with block=ka %}
                        {% include 'bm-canvas/block.html' %}
                    {% endwith %}
                </td>
                <td width="20%" colspan="2" rowspan="2">
                    {% with block=vp %}
                        {% include 'bm-canvas/block.html' %}
                    {% endwith %}
                </td>
                <td width="20%">
                    {% with block=kr %}
                        {% include 'bm-canvas/block.html' %}
                    {% endwith %}
                </td>
                <td width="20%" rowspan="2" class="segments">
                    {% with block=cse %}
                        {% include 'bm-canvas/block.html' %}
                    {% endwith %}
                </td>
            </tr>
            <tr style="height: 200px">
                <td>
                    {% with block=cr %}
                        {% include 'bm-canvas/block.html' %}
                    {% endwith %}
                </td>
                <td>
                    {% with block=ch %}
                        {% include 'bm-canvas/block.html' %}
                    {% endwith %}
                </td>
            </tr>
            <tr style="height: 100px">
                <td colspan="3" width="50%">
                    {% with block=cos %}
                        {% include 'bm-canvas/block.html' %}
                    {% endwith %}
                </td>
                <td colspan="3" width="50%">
                    {% with block=rs %}
                        {% include 'bm-canvas/block.html' %}
                    {% endwith %}
                </td>
            </tr>
        </table>
    </div>

    <div class="modal fade" id="add-element-modal-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add element</h4>
                </div>
            <div class="canvas-modal-body">

            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

        <div class="modal fade" id="change-level-id">
            <div class="modal-dialog">
                <div class="modal-content">
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

{% endblock %}