{% extends 'base.html' %}

{% block content %}
    <div class="container canvas">
        <table height="100%" class="table table-bordered">
            <tr>
                <td rowspan="2">2</td>
                <td>1</td>
                <td rowspan="2">4</td>
                <td>5</td>
                <td colspan="2">3</td>
            </tr>
{#            <tr>#}
{#                <td></td>#}
{#                <td>6</td>#}
{#                <td></td>#}
{#                <td colspan="2">8</td>#}
{#                <td>10</td>#}
{#                <td></td>#}
{#            </tr>#}
            <tr>
                <td height="20%" colspan="3">11</td>
                <td colspan="3">12</td>
            </tr>
        </table>
    </div>
{% endblock %}