{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
    <div class="container">
        <div class="add-news">
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    <input name="new-news" class="form-control" placeholder="Insert your news and press Enter..." />
                </form>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-2">
                <ul class="list-group">
                    {% for group in groups %}
                    <li class="list-group-item">
                        <label>
                            <input type="checkbox" name="cb_events" value="1" /> {{ group.name }}
                        </label>
                        <span class="badge">{{ group.news.count }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-10">
                <div class="sort">
                    <span>New events by </span>
                    <ul class="nav nav-pills">
                        <li {% if sort_val == "day" %}class="active"{% endif %}>
                            <a href="?sort=day">day</a>
                        </li>
                        <li {% if sort_val == "week" %}class="active"{% endif %}>
                            <a href="?sort=week">week</a>
                        </li>
                        <li {% if sort_val == "month" %}class="active"{% endif %}>
                            <a href="?sort=month">month</a>
                        </li>
                    </ul>
                </div>
                <div class="events">
                    {% for n in news %}
                    <div class="panel panel-default events-item">
                        <div class="panel-body">
                            <div class="media">
                                <a href="#" class="pull-left">
                                    {% thumbnail n.photo "100x100" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="media-object" />
                                    {% endthumbnail %}
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">{{ n.title }}
                                        <a href="#" class="remove-news-btn" rel="{{ n.pk }}"><span class="pull-right glyphicon glyphicon-remove"></span></a>
                                    </h4>
                                    <div class="events-item-info">
                                        <p>
                                            {{ n.description }}
                                        </p>
                                        <span class="events-item-date pull-right">{{ n.created|time:"H:i" }} {{ n.created|date:"d.m.Y" }}</span>
                                        <a href="{{ n.link }}" target="_blank">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>

    </div>
{% endblock %}