{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="add-news">
            <div class="form-group">
                <input class="form-control" placeholder="Insert your news and press Enter..." />
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-2">
                <ul>
                    <li>
                        <input type="checkbox" name="cb_events" value="1" /> Events
                    </li>
                    <li>
                        <input type="checkbox" name="cb_events" value="1" /> Steps
                    </li>
                    <li>
                        <input type="checkbox" name="cb_events" value="1" /> Conference
                    </li>
                    <li>
                        <input type="checkbox" name="cb_events" value="1" /> Mentors
                    </li>
                    <li>
                        <input type="checkbox" name="cb_events" value="1" /> System
                    </li>
                    <li>
                        <input type="checkbox" name="cb_events" value="1" /> Webinars
                    </li>
                    <li>
                        <input type="checkbox" name="cb_events" value="1" /> News
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}