{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="add-news">
            <div class="form-group">
                <input class="form-control" placeholder="Insert your news and press Enter..." />
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-2">
                <ul class="list-group">
                    <li class="list-group-item">
                        <label>
                            <input type="checkbox" name="cb_events" value="1" /> Events
                        </label>
                    </li>
                    <li class="list-group-item">
                        <label>
                        <input type="checkbox" name="cb_events" value="1" /> Steps
                        </label>
                    </li>
                    <li class="list-group-item">
                        <label>
                        <input type="checkbox" name="cb_events" value="1" /> Conference
                        </label>
                    </li>
                    <li class="list-group-item">
                        <label>
                        <input type="checkbox" name="cb_events" value="1" /> Mentors
                        </label>
                    </li>
                    <li class="list-group-item">
                        <label>
                        <input type="checkbox" name="cb_events" value="1" /> System
                        </label>
                    </li>
                    <li class="list-group-item">
                        <label>
                        <input type="checkbox" name="cb_events" value="1" /> Webinars
                        </label>
                    </li>
                    <li class="list-group-item">
                        <label>
                        <input type="checkbox" name="cb_events" value="1" /> News
                        </label>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10">
                <div class="sort">
                    <span>New events by </span>
                    <ul class="nav nav-pills">
                        <li>
                            <a href="#">day</a>
                        </li>
                        <li>
                            <a href="#">week</a>
                        </li>
                        <li>
                            <a href="#">month</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}