{% extends 'base.html' %}

{% block content %}
    <div class="container metrics ga-config">
        <table class="table">
            <tr>
                <td>Acquisition</td>
                <td>
                    <input class="form-control" id="acquisition" type="text" value="{{ ga_users|default:"0" }}" />
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Activation</td>
                <td>
                    <input class="form-control" id="activation" type="text" value="100" />
                </td>
                <td>
                    <select name="page">
                        {% for p in ga_pages %}
                            <option value="{{ p }}">{{ p }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Retention</td>
                <td>
                    <input class="form-control" id="retention" type="text" value="50" />
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Referral</td>
                <td>
                    <input class="form-control" id="referral" type="text" value="40" />
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Revenue</td>
                <td>
                    <input class="form-control" id="revenue" type="text" value="20" />
                </td>
                <td></td>
            </tr>
        </table>
    <div id="funnel">

    </div>
    <script type="text/javascript">
        $(function(){
            var r = Raphael('funnel', 600, 600);
            r.hbarchart(0, 0, 600, 600, [
                $("#acquisition").val(),
                $("#activation").val(),
                $("#retention").val(),
                $("#referral").val(),
                $("#revenue").val()
            ], {});
        });
    </script>
    </div>
{% endblock %}