{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="container metrics ga-config">
        <h1>Воронка Google Analytics</h1>
    <form method="POST">{% csrf_token %}
        <table class="table ga-funnel-table-view">
            <thead>
                <th>Level</th>
                <th>Value</th>
                <th>Funnel</th>
            </thead>
            <tr>
                <td>Acquisition</td>
                <td class="ga-values ga-acquisition">{{ ga_users|default:"0" }}</td>
                <td>
                    <div id="ga_acquisition" style="min-height: 50px;"></div>
                </td>
            </tr>
            <tr>
                <td>Activation</td>
                <td class="ga-values ga-activation">
                    {% if activation_value %}
                        <input class="form-control" disabled value="{{ activation_value }}" />
                    {% else %}
                        {{ funnel_data_form.activation_value|add_class:"form-control" }}
                    {% endif %}
                </td>
                <td>
                    <div id="ga_activation"></div>
                </td>
            </tr>
            <tr>
                <td>Retention</td>
                <td class="ga-values ga-retention">
                    {% if retention_value %}
                        {{ retention_value|default:"0" }}
                    {% else %}
                        {{ funnel_data_form.retention_value|add_class:"form-control" }}
{#                        <input class="form-control" name="retention_value" value="0" />#}
                    {% endif %}
                </td>
                <td>
                    <div id="ga_retention"></div>
                </td>
            </tr>
            <tr>
                <td>Referral</td>
                <td class="ga-values ga-referral">
                    {% if referral_value %}
                        {{ referral_value|default:"0" }}
                    {% else %}
                        {{ funnel_data_form.referral_value|add_class:"form-control" }}
{#                        <input class="form-control" name="referral_value" value="0" />#}
                    {% endif %}
                </td>
                <td>
                    <div id="ga_referral"></div>
                </td>
            </tr>
            <tr>
                <td>Revenue</td>
                <td class="ga-values ga-revenue">
                    {% if revenue_value %}
                        {{ revenue_value|default:"0" }}
                    {% else %}
                        {{ funnel_data_form.revenue_value|add_class:"form-control" }}
{#                        <input class="form-control" name="revenue_value" value="0" />#}
                    {% endif %}
                </td>
                <td>
                    <div id="ga_revenue"></div>
                </td>
            </tr>
        </table>
    <button class="btn btn-primary">Update data</button>
    </form>
        <div id="funnel">

        </div>
        {% if ga_users %}
        <script type="text/javascript">
            $(function(){
                var colors = (function () {
                        var hues = [.6, .2, .05, .1333, .75, 0],
                            colors = [];

                        for (var i = 0; i < 10; i++) {
                            if (i < hues.length) {
                                colors.push('hsb(' + hues[i] + ',.75, .75)');
                            } else {
                                colors.push('hsb(' + hues[i - hues.length] + ', 1, .5)');
                            }
                        }

                        return colors;
                })();
                var w1 = $("#ga_acquisition").width();
                var h = $("#ga_acquisition").parent().height();
                var r = Raphael('ga_acquisition', w1, h);
                var a1_value = {{ ga_users|default:"1" }};
                var a2_value = {{ activation_value|default:"1" }};
                if(a2_value == 1){
                    a2_value = $(".ga-activation input").val();
                }
                var w2 = Math.floor(w1*a2_value/a1_value);
                var bottom_offset = Math.floor((w1 - w2)/2);
                r.path("M0,0L" + w1 + ",0T" + (w1 - bottom_offset) + "," + h + "L" + bottom_offset + "," + h + "T0,0").attr({
                    "fill": colors[0],
                    "stroke-width": "0"
                });
                r.path("M0,"+h/2+"L"+w1/2+","+h/2).attr({
                    "fill": colors[0],
                    "stroke": colors[0]
                });
                $(".ga-acquisition").css({
                    color: Raphael.getRGB(colors[0]).hex
                });

                var top_offset = Math.floor((w1-w2)/2);
                var r = Raphael('ga_activation', w1, h);
                a1_value = a2_value;
                a2_value = {{ retention_value|default:"1" }};
                if(a2_value == 1){
                    a2_value = $(".ga-retention input").val();
                }
                var w3 = Math.floor(w2*a2_value/a1_value);
                var bottom_offset = Math.floor((w2 - w3)/2);
                r.path("M" +  top_offset +  ",0L" + (top_offset+w2) + ",0T" + ( top_offset + w2 - bottom_offset) + "," + h + "L" + (top_offset + bottom_offset) + "," + h + "T" + top_offset + ",0").attr({
                    "fill": colors[1],
                    "stroke-width": "0"
                });
                r.path("M0,"+h/2+"L"+w1/2+","+h/2).attr({
                    "fill": colors[1],
                    "stroke": colors[1]
                });
                $(".ga-activation").css({
                    color: Raphael.getRGB(colors[1]).hex
                });
                $(".ga-activation input").css({
                    "border": "solid 1px "+Raphael.getRGB(colors[1]).hex
                });

                var top_offset = Math.floor((w2-w3)/2) + top_offset;
                var r = Raphael('ga_retention', w1, h);
                a1_value = a2_value;
                a2_value = {{ referral_value|default:"1" }};
                if(a2_value == 1){
                    a2_value = $(".ga-referral input").val();
                }
                var w4 = Math.floor(w3*a2_value/a1_value);
                var bottom_offset = Math.floor((w3 - w4)/2);
                r.path("M" +  top_offset +  ",0L" + (top_offset+w3) + ",0T" + ( top_offset + w3 - bottom_offset) + "," + h + "L" + (top_offset + bottom_offset) + "," + h + "T" + top_offset + ",0").attr({
                    "fill": colors[2],
                    "stroke-width": "0"
                });
                r.path("M0,"+h/2+"L"+w1/2+","+h/2).attr({
                    "fill": colors[2],
                    "stroke": colors[2]
                });
                $(".ga-retention").css({
                    color: Raphael.getRGB(colors[2]).hex
                });
                $(".ga-retention input").css({
                    "border": "solid 1px "+Raphael.getRGB(colors[2]).hex
                });

                var top_offset = Math.floor((w3-w4)/2) + top_offset;
                var r = Raphael('ga_referral', w1, h);
                a1_value = a2_value;
                a2_value = {{ revenue_value|default:"1" }};
                if(a2_value == 1){
                    a2_value = $(".ga-revenue input").val();
                }
                var w5 = Math.floor(w4*a2_value/a1_value);
                var bottom_offset = Math.floor((w4 - w5)/2);
                r.path("M" +  top_offset +  ",0L" + (top_offset+w4) + ",0T" + ( top_offset + w4 - bottom_offset) + "," + h + "L" + (top_offset + bottom_offset) + "," + h + "T" + top_offset + ",0").attr({
                    "fill": colors[3],
                    "stroke-width": "0"
                });
                r.path("M0,"+h/2+"L"+w1/2+","+h/2).attr({
                    "fill": colors[3],
                    "stroke": colors[3]
                });
                $(".ga-referral").css({
                    color: Raphael.getRGB(colors[3]).hex
                });
                $(".ga-referral input").css({
                    "border": "solid 1px "+Raphael.getRGB(colors[3]).hex
                });

                r = Raphael("ga_revenue", w1, h);
                r.path("M0,"+h/2+"L"+w1/2+","+h/2+"M"+w1/2+","+h/2+"L"+w1/2+",0").attr({
                    "fill": colors[4],
                    "stroke": colors[4]
                });
                $(".ga-revenue").css({
                    color: Raphael.getRGB(colors[4]).hex
                });
                $(".ga-revenue input").css({
                    "border": "solid 1px "+Raphael.getRGB(colors[4]).hex
                });
{#                r.hbarchart(0, 0, 600, 600, [#}
{#                    {{ ga_users|default:"0" }},#}
{#                    {{ activation_value|default:"0" }},#}
{#                    {{ retention_value|default:"0" }},#}
{#                    {{ referral_value|default:"0" }},#}
{#                    {{ revenue_value|default:"0" }}#}
{#                ], {});#}
            });
        </script>
    {% endif %}
    </div>
{% endblock %}