{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="container metrics ga-config">
    <h1>Настройка Google Analytics</h1>
    {% if auth_url %}
        <a href="{{ auth_url }}">Подключить Google Analytics</a>
    {% else %}
        <hr/>
        <h2>1.  Выберите ваш профиль</h2>
        <div class="alert alert-success alert-save-ga-config alert-ga-profile">
            Настройки профиля сохранены
        </div>
        <form method="GET" action="" class="ga-config-profile-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-4">
                    {% with item_name='account' items=accounts selected_item=account %}
                        {% include 'widgets/ga/account.html'  %}
                    {% endwith %}
                </div>
                <div class="col-xs-4 ga-webprops">
                </div>
                <div class="col-xs-4 ga-profile">
                </div>
            </div>
        </form>
        <hr/>
        <h2>2. Настройте период отслеживания</h2>
        <div class="alert alert-success alert-save-ga-config alert-ga-time">
            Настройка периода отслеживания сохранена
        </div>
        <p>
            Выберите промежуток времени за который будут собираться данные
        </p>
        <form method="POST" id="date_range_form">{% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-4">
                        {{ funnel_date_form.date_range }}
                    </div>
                </div>
            </div>
        </form>
        <hr/>
        <h2>3. Настройте этапы воронки</h2>
        <div class="alert alert-success alert-save-ga-config alert-ga-funnel">
            Настройки воронки сохранены
        </div>
    <form method="POST" action="" id="ga-funnel-config-form">
        <table class="table ga-funnel-table">
            <thead>
                <th width="20%">Stage</th>
                <th width="18%">URL</th>
                <th width="4%"></th>
                <th width="19%">Event Category</th>
                <th width="19%">Event Action</th>
                <th width="19%">Event Label</th>
            </thead>
            <tr>
                <td>Acquisition</td>
                <td colspan="6">Acquisition всегда высчитывается из количества уникальных пользователей и не настраивается отдельно.</td>
            </tr>
            <tr>
                <td>Activation <a href="#">
                    <span class="icon-question-sign"></span>
                </a> </td>
                    <td>
                        <div class="ga-funnel-page {% if funnel_config_form.activation_event_category.value %}hidden{% endif %}">
                            {{ funnel_config_form.activation_page }}
                        </div>
                    </td>
                    <td>|</td>
                <td>
                    <div class="ga-funnel-events ga-funnel-events-category {% if funnel_config_form.activation_page.value %}hidden{% endif %}">
                        {{ funnel_config_form.activation_event_category }}
                    </div>
                </td>
                <td>
                    <div class="ga-funnel-events {% if funnel_config_form.activation_page.value %}hidden{% endif %}">
                        {{ funnel_config_form.activation_event_action }}
                    </div>
                </td>
                <td>
                    <div class="ga-funnel-events {% if funnel_config_form.activation_page.value %}hidden{% endif %}">
                        {{ funnel_config_form.activation_event_label }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>Retention <a href="#">
                    <span class="icon-question-sign"></span>
                </a> </td>
                    <td>
                        <div class="ga-funnel-page {% if funnel_config_form.retention_event_category.value %}hidden{% endif %}">
                            {{ funnel_config_form.retention_page }}
                        </div>
                    </td>
                    <td>|</td>
                    <td>
                        <div class="ga-funnel-events ga-funnel-events-category {% if funnel_config_form.retention_page.value %}hidden{% endif %}">
                            {{ funnel_config_form.retention_event_category }}
                        </div>
                    </td>
                    <td>
                        <div class="ga-funnel-events  {% if funnel_config_form.retention_page.value %}hidden{% endif %}">
                            {{ funnel_config_form.retention_event_action }}
                        </div>
                    </td>
                    <td>
                        <div class="ga-funnel-events  {% if funnel_config_form.retention_page.value %}hidden{% endif %}">
                            {{ funnel_config_form.retention_event_label }}
                        </div>
                    </td>
            </tr>
            <tr>
                <td>Referral <a href="#">
                    <span class="icon-question-sign"></span>
                </a> </td>
                    <td>
                        {% if funnel_config_form.referral_page.queryset.count %}
                            <div class="ga-funnel-page {% if funnel_config_form.referral_event_category.value %}hidden{% endif %}">
                                {{ funnel_config_form.referral_page }}
                            </div>
                        {% endif %}
                    </td>
                    <td>|</td>
                    <td>
                        {% if funnel_config_form.referral_event_category.queryset.count %}
                            <div class="ga-funnel-events ga-funnel-events-category {% if funnel_config_form.referral_page.value %}hidden{% endif %}">
                                {{ funnel_config_form.referral_event_category }}
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        {% if funnel_config_form.referral_event_action.queryset.count %}
                            <div class="ga-funnel-events  {% if funnel_config_form.referral_page.value %}hidden{% endif %}">
                                {{ funnel_config_form.referral_event_action }}
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        {% if funnel_config_form.referral_event_label.queryset.count %}
                            <div class="ga-funnel-events  {% if funnel_config_form.referral_page.value %}hidden{% endif %}">
                                {{ funnel_config_form.referral_event_label }}
                            </div>
                        {% endif %}
                    </td>
            </tr>
            <tr>
                <td>Revenue <a href="#">
                    <span class="icon-question-sign"></span>
                </a> </td>
                </td>
                    <td>
                        {% if funnel_config_form.revenue_page.queryset.count %}
                            <div class="ga-funnel-page {% if funnel_config_form.revenue_event_category.value %}hidden{% endif %}">
                                {{ funnel_config_form.revenue_page }}
                            </div>
                        {% endif %}
                    </td>
                    <td>|</td>
                    <td>
                        {% if funnel_config_form.revenue_event_category.queryset.count %}
                            <div class="ga-funnel-events ga-funnel-events-category {% if funnel_config_form.revenue_page.value %}hidden{% endif %}">
                                {{ funnel_config_form.revenue_event_category }}
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        {% if funnel_config_form.revenue_event_action.queryset.count %}
                            <div class="ga-funnel-events  {% if funnel_config_form.revenue_page.value %}hidden{% endif %}">
                                {{ funnel_config_form.revenue_event_action }}
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        {% if funnel_config_form.revenue_event_label.queryset.count %}
                            <div class="ga-funnel-events  {% if funnel_config_form.revenue_page.value %}hidden{% endif %}">
                                {{ funnel_config_form.revenue_event_label }}
                            </div>
                        {% endif %}
                    </td>
            </tr>
        </table>
        <hr/>
        <h2>4. Настройте прибыль с платящего пользователя</h2>
            <div class="alert alert-success alert-save-ga-config alert-ga-profit">
                Настройка прибыли с пользователя сохранена
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        {{ funnel_config_form.user_sum|attr:"placeholder:Прибыль с платящего пользователя"|add_class:"form-control" }}
                    </div>
                </div>
            </div>
        {% csrf_token %}
        </form>
    {% endif %}
    </div>
{% endblock %}