{% extends 'base.html' %}

{% block content %}
    <div class="container metrics ga-config">
    <h1>Настройка Google Analytics</h1>
    {% if auth_url %}
        <a href="#">Подключить Google Analytics</a>
    {% else %}
        <h2>1.  Выберите ваш профиль</h2>
        <form method="GET" action="" class="ga-config-profile-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-4">
                    {% with item_name='account' items=accounts selected_item=account %}
                        {% include 'widgets/ga/account.html'  %}
                    {% endwith %}
                </div>
                <div class="col-xs-4 ga-webprops">
                </div>
                <div class="col-xs-4 ga-profile">
                </div>
            </div>
        </form>
        <h2>2. Настройте период отслеживания</h2>
        <p>
            Выберите промежуток времени за который будут собираться данные
        </p>
        <form method="POST" id="date_range_form">{% csrf_token %}
            <div class="form-group">
                <div class="">
                    <select name="date_range" id="date_range">
                        <option value="1">1 месяц</option>
                        <option value="2">2 месяца</option>
                        <option value="3">3 месяца</option>
                        <option value="4">4 месяца</option>
                        <option value="5">5 месяцев</option>
                        <option value="6">6 месяцев</option>
                        <option value="24">24 месяца</option>
                    </select>
                </div>
            </div>
        </form>
        <h2>3. Настройте этапы воронки</h2>
    <form method="POST" action="">
        <table class="table ga-funnel-table">
            <thead>
                <th width="20%">Stage</th>
                <th width="18%">URL</th>
                <th width="4%"></th>
                <th width="19%">Event Category</th>
                <th width="19%">Event Action</th>
                <th width="19%">Event Label</th>
            </thead>
            <tr>
                <td>Acquisition</td>
                <td colspan="6">Acquisition всегда высчитывается из количества уникальных пользователей и не настраивается отдельно.</td>
            </tr>
            <tr>
                <td>Activation <a href="#">
                    <span class="icon-question-sign"></span>
                </a> </td>
                    <td>
                        <div class="ga-funnel-page {% if funnel_config_form.activation_event_category.value %}hidden{% endif %}">
                            {{ funnel_config_form.activation_page }}
                        </div>
                    </td>
                    <td>|</td>
                <td>
                    <div class="ga-funnel-events ga-funnel-events-category {% if funnel_config_form.activation_page.value %}hidden{% endif %}">
                        {{ funnel_config_form.activation_event_category }}
                    </div>
                </td>
                <td>
                    <div class="ga-funnel-events {% if funnel_config_form.activation_page.value %}hidden{% endif %}">
                        {{ funnel_config_form.activation_event_action }}
                    </div>
                </td>
                <td>
                    <div class="ga-funnel-events {% if funnel_config_form.activation_page.value %}hidden{% endif %}">
                        {{ funnel_config_form.activation_event_label }}
                    </div>
                </td>
                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
            <tr>
                <td>Retention <a href="#">
                    <span class="icon-question-sign"></span>
                </a> </td>
                    <td>
                        <div class="{% if funnel_config_form.retention_event_category.value %}hidden{% endif %}">
                            {{ funnel_config_form.retention_page }}
                        </div>
                    </td>
                    <td>|</td>
                {% if not funnel_config_form.retention_page.value %}
                    <td>
                            {{ funnel_config_form.retention_event_category }}
                    </td>
                    <td>
                            {{ funnel_config_form.retention_event_action }}
                    </td>
                    <td>
                            {{ funnel_config_form.retention_event_label }}
                    </td>
                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
            <tr>
                <td>Referral <a href="#">
                    <span class="icon-question-sign"></span>
                </a> </td>
                    <td>
                        <div class="{% if funnel_config_form.referral_event_category.value %}hidden{% endif %}">
                            {{ funnel_config_form.referral_page }}
                        </div>
                    </td>
                    <td>|</td>
                {% if not funnel_config_form.referral_page.value %}
                    <td>
                            {{ funnel_config_form.referral_event_category }}
                    </td>
                    <td>
                            {{ funnel_config_form.referral_event_action }}
                    </td>
                    <td>
                            {{ funnel_config_form.referral_event_label }}
                    </td>

                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
            <tr>
                <td>Revenue <a href="#">
                    <span class="icon-question-sign"></span>
                </a> </td>
                </td>
                    <td>
                        <div class="{% if funnel_config_form.revenue_event_category.value %}hidden{% endif %}">
                            {{ funnel_config_form.revenue_page }}
                        </div>
                    </td>
                    <td>|</td>
                {% if not funnel_config_form.revenue_page.value %}
                    <td>
                            {{ funnel_config_form.revenue_event_category }}
                    </td>
                    <td>
                            {{ funnel_config_form.revenue_event_action }}
                    </td>
                    <td>
                            {{ funnel_config_form.revenue_event_label }}
                    </td>

                    </td>
                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
        </table>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    {% csrf_token %}
    </form>
        <h2>4. Настройте стоимость вашего платящего пользователя</h2>
    {% endif %}
    </div>
{% endblock %}