{% extends 'base.html' %}

{% block content %}
    <div class="container metrics ga-config">
    <h1>Настройка Google Analytics</h1>
    {% if auth_url %}
        <a href="#">Подключить Google Analytics</a>
    {% else %}
        <h2>1.  Выберите ваш профиль</h2>
        <form method="GET" action="" class="ga-config-profile-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-4">
                    {% with item_name='account' items=accounts selected_item=account %}
                        {% include 'widgets/ga/account.html'  %}
                    {% endwith %}
                </div>
                <div class="col-xs-4 ga-webprops">
                </div>
                <div class="col-xs-4 ga-profile">
                </div>
            </div>
        </form>
        <h2>2. Настройте вашу воронку</h2>
        <p>
            Выберите промежуток времени за который будут собираться данные
        </p>
        <form method="POST" id="date_range_form">{% csrf_token %}
            <div class="form-group">
                <div class="">
                    <select name="date_range" id="date_range">
                        <option value="1">1 месяц</option>
                        <option value="2">2 месяца</option>
                        <option value="3">3 месяца</option>
                        <option value="4">4 месяца</option>
                        <option value="5">5 месяцев</option>
                        <option value="6">6 месяцев</option>
                        <option value="24">24 месяца</option>
                    </select>
                </div>
            </div>
        </form>
    <form method="POST" action="">
        <table class="table">
            <thead>
                <th width="20%">Stage</th>
                <th width="18%">URL</th>
                <th width="4%"></th>
                <th width="19%">Event Category</th>
                <th width="19%">Event Action</th>
                <th width="19%">Event Label</th>
            </thead>
            <tr>
                <td>Acquisition</td>
                <td colspan="6">Acquisition всегда высчитывается из количества уникальных пользователей и не настраивается отдельно. Как
            настроить остальные пункты в Google Analytics и на вашем сайте вы можете прочитать по этой ссылке</td>
            </tr>
            <tr>
                <td>Activation</td>
                <td>
                    <input class="form-control" id="activation" type="text" value="{{ activation_value|default:"0" }}" />
                </td>
                {% if not funnel_config_form.activation_event_category.value %}
                    <td>
                        {{ funnel_config_form.activation_page }}
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                    <td>|</td>
                {% if not funnel_config_form.activation_page.value %}
                <td>
                        {{ funnel_config_form.activation_event_category }}
                </td>
                <td>
                        {{ funnel_config_form.activation_event_action }}
                </td>
                <td>
                        {{ funnel_config_form.activation_event_label }}
                </td>
                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
            <tr>
                <td>Retention</td>
                <td>
                    <input class="form-control" id="retention" type="text" value="{{ retention_value|default:"0" }}" />
                </td>
                {% if not funnel_config_form.retention_event_category.value %}
                    <td>
                        {{ funnel_config_form.retention_page }}
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                    <td>|</td>
                {% if not funnel_config_form.retention_page.value %}
                    <td>
                            {{ funnel_config_form.retention_event_category }}
                    </td>
                    <td>
                            {{ funnel_config_form.retention_event_action }}
                    </td>
                    <td>
                            {{ funnel_config_form.retention_event_label }}
                    </td>
                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
            <tr>
                <td>Referral</td>
                <td>
                    <input class="form-control" id="referral" type="text" value="{{ referral_value|default:"0" }}" />
                </td>
                {% if not funnel_config_form.referral_event_category.value %}
                    <td>
                        {{ funnel_config_form.referral_page }}
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                    <td>|</td>
                {% if not funnel_config_form.referral_page.value %}
                    <td>
                            {{ funnel_config_form.referral_event_category }}
                    </td>
                    <td>
                            {{ funnel_config_form.referral_event_action }}
                    </td>
                    <td>
                            {{ funnel_config_form.referral_event_label }}
                    </td>

                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
            <tr>
                <td>Revenue</td>
                <td>
                    <input class="form-control" id="revenue" type="text" value="{{ revenue_value|default:"0" }}" />
                </td>
                {% if not funnel_config_form.revenue_event_category.value %}
                    <td>
                        {{ funnel_config_form.revenue_page }}
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                    <td>|</td>
                {% if not funnel_config_form.revenue_page.value %}
                    <td>
                            {{ funnel_config_form.revenue_event_category }}
                    </td>
                    <td>
                            {{ funnel_config_form.revenue_event_action }}
                    </td>
                    <td>
                            {{ funnel_config_form.revenue_event_label }}
                    </td>

                    </td>
                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
        </table>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    {% csrf_token %}
    </form>
    {% endif %}
    </div>
{% endblock %}