{% extends 'base.html' %}

{% block body_content %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Программист на час</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://spark.ru/startup/progernachas/blog">Блог</a></li>
                        <li><a href="{% url 'contacts' %}">Контакты</a></li>
                        <li><a href="{% url 'about' %}">О проекте</a></li>
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'dashboard' %}">Задачи</a></li>
                            <li><a href="{% url 'auth_logout' %}"><span class="glyphicon glyphicon-log-out"></span></a></li>
                        {% else %}
                            <li><a href="{% url 'auth_login' %}">Войти</a></li>
                            <li><a href="{% url 'registration_register' %}">Зарегистрироваться</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}