{% extends 'base.html' %}

{% block body_content %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">ABSLY</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://blog.absly.com/">Блог</a></li>
{#                        <li><a href="{% url 'contacts' %}">Контакты</a></li>#}
                        <li><a href="/press/">О компании</a></li>
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}