{% extends 'base.html' %}

{% block content %}
    <div class="container metrics">
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Users count
                        <a href="#">
                            <span title="Add to dashboard"
                                  class="pull-right glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="metrics-item-left">
                            <img src="{{ STATIC_URL }}img/users-icon.png" width="64" height="64" />
                            <div>20 239</div>
                        </div>
                        <div class="metrics-item-right">
                            <div id="metrics-chart-1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Money
                        <a href="#">
                            <span title="Add to dashboard"
                                  class="pull-right glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="metrics-item-left">
                            <img src="{{ STATIC_URL }}img/money-icon.png" width="64" height="64" />
                            <div>20 239 $</div>
                        </div>
                        <div class="metrics-item-right">
                            <div id="metrics-chart-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Bounce rate from landing page
                        <a href="#">
                            <span title="Add to dashboard"
                                  class="pull-right glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="metrics-item-left">
                            <img src="{{ STATIC_URL }}img/bounce-icon.png" width="64" height="64" />
                            <div>30 %</div>
                        </div>
                        <div class="metrics-item-right">
                            <div id="metrics-chart-3"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Premium users
                        <a href="#">
                            <span title="Add to dashboard"
                                  class="pull-right glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="metrics-item-left">
                            <img src="{{ STATIC_URL }}img/premium-icon.png" width="64" height="64" />
                            <div>2 245</div>
                        </div>
                        <div class="metrics-item-right">
                            <div id="metrics-chart-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}