{% extends 'base.html' %}

{% block content %}
    <div class="container metrics">
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Users count
                    </div>
                    <div class="panel-body">
                        <div class="metrics-item-left">
                            <img src="{{ STATIC_URL }}img/users-icon.png" width="64" height="64" />
                            <span>20 239</span>
                        </div>
                        <div class="metrics-item-right">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock %}