{% extends 'base.html' %}

{% block content %}
    <div class="container canvas" >
        <table height="100%" class="table table-bordered">
            <tr style="height: 200px">
                <td width="20%" rowspan="2">
                    <div class="canvas-element-title">
                        Key Partners
                    </div>
                    <ul class="canvas-block-items"></ul>
                    <div class="form-group" style="display: none;">
                        <input type="text" class="form-control" />
                    </div>
                </td>
                <td width="20%">
                    <div class="canvas-element-title">
                        Key Activities
                    </div>
                    <ul class="canvas-block-items"></ul>
                    <div class="form-group" style="display: none;">
                        <input type="text" class="form-control" />
                    </div>
                </td>
                <td width="20%" colspan="2" rowspan="2">
                    <div class="canvas-element-title">
                        {{ vp.name }}
                    </div>
                    <ul class="canvas-block-items">
                        <li class="venture-funds">
                            <a href="#">CEO Tools</a>
                            <a href="#" class="canvas-element-item-del">
                                <span class="icon-remove pull-right"></span>
                            </a>
                            <div class="definition-level">
                                <a href="#" rel="0" class="done"></a>
                                <a href="#" rel="1"></a>
                                <a href="#" rel="2"></a>
                                <a href="#" rel="3"></a>
                            </div>
                        </li>
                        <li class="ceo-of-startups">
                            <a href="#" >Recomndation system</a>
                            <a href="#" class="canvas-element-item-del">
                                <span class="icon-remove pull-right"></span>
                            </a>
                            <div class="definition-level">
                                <a href="#" rel="0" class="done"></a>
                                <a href="#" rel="1"></a>
                                <a href="#" rel="2"></a>
                                <a href="#" rel="3"></a>
                            </div>
                        </li>
                        <li class="ceo-of-startups">
                            <a href="#">Control panel</a>
                            <a href="#" class="canvas-element-item-del">
                                <span class="icon-remove pull-right"></span>
                            </a>
                            <div class="definition-level">
                                <a href="#" rel="0" class="done"></a>
                                <a href="#" rel="1"></a>
                                <a href="#" rel="2"></a>
                                <a href="#" rel="3"></a>
                            </div>
                        </li>
                    </ul>
                    <a class="add-canvas-block-item" href="#">
                        <div class="icon-plus "></div>
                    </a>

                </td>
                <td width="20%">
                    <div class="canvas-element-title">
                        Customer Relationship
                    </div>
                    <ul class="canvas-block-items"></ul>
                    <div class="form-group" style="display: none;">
                        <input type="text" class="form-control" />
                    </div>
                </td>
                <td width="20%" rowspan="2" class="segments" ng-controller="customerSegmentsCtrl">
                    <div class="canvas-element-title">
                        Customer Segments
                    </div>
                    <ul class="canvas-block-items">
                        {% verbatim %}
                            <li ng-cloak ng-repeat="s in segments">
                                <a href="#" rel="#" class="canvas-element-item-link"> {{s.name}} (3)</a>
                                <a href="#" ng-click="remove(s)" class="canvas-element-item-del">
                                    <span class="icon-remove pull-right"></span>
                                </a>
                                <div class="definition-level">
                                    <a href="#" rel="0" ng-click="setLevel(s, 0)" ng-class="getLevelClass(s, 0)"></a>
                                    <a href="#" rel="1" ng-click="setLevel(s, 1)" ng-class="getLevelClass(s, 1)"></a>
                                    <a href="#" rel="2" ng-click="setLevel(s, 2)" ng-class="getLevelClass(s, 2)"></a>
                                    <a href="#" rel="3" ng-click="setLevel(s, 3)" ng-class="getLevelClass(s, 3)"></a>
                                </div>
                            </li>
                        {% endverbatim %}
                    </ul>
                    <a class="add-canvas-block-item" href="#" rel="{{ cse.pk }}" data-toggle="modal" data-target="#add-element-modal-id">
                        <div class="icon-plus "></div>
                    </a>
                </td>
            </tr>
            <tr style="height: 200px">
                <td>
                    <div class="canvas-element-title">
                        Key Resources
                    </div>
                    <ul class="canvas-block-items"></ul>
                    <div class="form-group" style="display: none;">
                        <input type="text" class="form-control" />
                    </div>
                </td>
                <td>
                    <div class="canvas-element-title">
                        Channles
                    </div>
                    <ul class="canvas-block-items"></ul>
                    <div class="form-group" style="display: none;">
                        <input type="text" class="form-control" />
                    </div>
                </td>
            </tr>
            <tr style="height: 100px">
                <td colspan="3" width="50%">
                    <div class="canvas-element-title">
                        Cost Structure
                    </div>
                    <ul class="canvas-block-items"></ul>
                    <div class="form-group" style="display: none;">
                        <input type="text" class="form-control" />
                    </div>
                </td>
                <td colspan="3" width="50%">
                    <div class="canvas-element-title">
                        Revenue Streams
                    </div>
                    <ul class="canvas-block-items"></ul>
                    <div class="form-group" style="display: none;">
                        <input type="text" class="form-control" />
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="modal fade" id="add-element-modal-id" ng-controller="customerSegmentsCtrl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add element</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <div style="display: none;" class="alert-success">
                            Element successfully added
                        </div>
                        <div class="modal-form-body">
                            {% csrf_token %}
                            <input type="hidden" name="block" value="" id="canvas-block-slug-id" />
                            <div class="form-group">
                                <select name="">
                                    <option>Choose customer segment...</option>
                                    {% verbatim %}
                                        <option ng-repeat="c in segments" value="{{ c.name }}">{{ c.name }}</option>
                                    {% endverbatim %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>
{#                                    <input name="name" class="form-control" type="text" ng-model="{{ elementName }}" placeholder="Insert element name..." />#}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
{#                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addNewElement()">Cancel</button>#}
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}