{% extends 'base.html' %}

{% block content %}
    <div  ng-app="canvasapp" class="container canvas" ng-controller="customerSegmentsCtrl">
        <div class="modal fade" id="change-level-id" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        {% verbatim %}
                        <h4 class="modal-title">Change Level: {{ activeElement.levels[activeElement.level].name }} ->
                        {{ activeElement.levels[activeElement.level + 1].name }}</h4>
                        {% endverbatim %}
                    </div>
                    <form method="post">
                        <div class="modal-body">
                            <div style="display: none;" class="alert-success">
                                Level successfully upgraded
                            </div>
                            <div class="modal-form-body">
                                <textarea ng-model="activeElement.levels[activeElement.level].log" style="width: 100%; height: 110px; resize: none;">

                                </textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary"  ng-click="upgradeLevelSave()">Add</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


            <div class="modal fade" id="add-element-modal-id" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add element</h4>
                    </div>
                    <form method="post">
                        <div class="modal-body">
                            <div style="display: none;" class="alert-success">
                                Element successfully added
                            </div>
                            <div class="modal-form-body">
                                {% csrf_token %}
                                <input type="hidden" name="block" value="" id="canvas-block-slug-id" />
                                    {% verbatim %}
                                <div class="form-group" ng-repeat="q in activeBlock.questions">
                                    <p>{{ q.q }}</p>
                                    <select  ng-init="q.a=newElement.params[q.q].a" ng-model="q.a" ng-options="a for a in q.ans">
<!--                                        <option ng-repeat="a in q.ans" value="{{ a }}">{{ a }}</option>-->
                                    </select>
                                </div>
                                    {% endverbatim %}
                                <div class="form-group" ng-hide="isSegment()">
                                    <select name="" ng-model="newElement.segment" ng-options="s.name for s in segments.items">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input name="name" class="form-control" type="text" ng-model="newElement.name" placeholder="Insert element name..." />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary"  ng-click="addNewElement()">Add</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        {% verbatim %}
            {{ partners|json }}
        {% endverbatim %}

        <table height="100%" class="table table-bordered">
            <tr style="height: 200px">
                <td width="20%" rowspan="2" ng-mouseover="setActiveBlock(partners)">
                    <div class="canvas-element-title">
                        Key Partners
                    </div>
                    {% verbatim %}
                    <ul class="canvas-block-items">
                            <li ng-cloak ng-repeat="s in partners.items | filter:searchActiveSegment">
                                <a href="#" ng-model="s.name" rel="#" class="canvas-element-item-link"> {{s.name}} (3)</a>
                                <a href="#" ng-click="editElement(s)" class="canvas-element-item-del" onclick="return false;">
                                    <span class="icon-edit pull-right"></span>
                                </a>
                                <div class="definition-level">
                                    <a href="#" rel="0" ng-click="setLevel(s, 0)" ng-class="getLevelClass(s, 0)"></a>
                                    <a href="#" rel="1" ng-click="setLevel(s, 1)" ng-class="getLevelClass(s, 1)"></a>
                                    <a href="#" rel="2" ng-click="setLevel(s, 2)" ng-class="getLevelClass(s, 2)"></a>
                                    <a href="#" rel="3" ng-click="setLevel(s, 3)" ng-class="getLevelClass(s, 3)"></a>
                                </div>
                            </li>
                    </ul>
                    {% endverbatim %}
                    <div class="form-group" style="display: none;">
                        <input type="text" class="form-control" />
                    </div>
                    <a class="add-canvas-block-item" href="#" ng-click="addElementForm()">
                        <div class="icon-plus "></div>
                    </a>
                </td>
                </td>
                <td width="20%" ng-mouseover="setActiveBlock(activities)">
                    <div class="canvas-element-title">
                        Key Activities
                    </div>
                    {% verbatim %}
                    <ul class="canvas-block-items">
                            <li ng-cloak ng-repeat="s in activities.items | filter:searchActiveSegment">
                                <a href="#" ng-model="s.name" rel="#" class="canvas-element-item-link"> {{s.name}} (3)</a>
                                <a href="#" ng-click="editElement(s)" class="canvas-element-item-del" onclick="return false;">
                                    <span class="icon-edit pull-right"></span>
                                </a>
                                <div class="definition-level">
                                    <a href="#" rel="0" ng-click="setLevel(s, 0)" ng-class="getLevelClass(s, 0)"></a>
                                    <a href="#" rel="1" ng-click="setLevel(s, 1)" ng-class="getLevelClass(s, 1)"></a>
                                    <a href="#" rel="2" ng-click="setLevel(s, 2)" ng-class="getLevelClass(s, 2)"></a>
                                    <a href="#" rel="3" ng-click="setLevel(s, 3)" ng-class="getLevelClass(s, 3)"></a>
                                </div>
                            </li>
                    </ul>
                    {% endverbatim %}
                    <div class="form-group" style="display: none;">
                        <input type="text" class="form-control" />
                    </div>
                    <a class="add-canvas-block-item" href="#"  data-toggle="modal" data-target="#add-element-modal-id">
                        <div class="icon-plus "></div>
                    </a>
                </td>
                <td width="20%" colspan="2" rowspan="2" ng-mouseover="setActiveBlock(propositions)">
                    <div class="canvas-element-title">
                        Value Proposition
                    </div>
                    {% verbatim %}
                    <ul class="canvas-block-items">
                            <li ng-cloak ng-repeat="s in propositions.items | filter:searchActiveSegment">
                                <a href="#" ng-model="s.name" rel="#" class="canvas-element-item-link"> {{s.name}} (3)</a>
                                <a href="#" ng-click="editElement(s)" class="canvas-element-item-del" onclick="return false;">
                                    <span class="icon-edit pull-right"></span>
                                </a>
                                <div class="definition-level">
                                    <a href="#" rel="0" ng-click="setLevel(s, 0)" ng-class="getLevelClass(s, 0)"></a>
                                    <a href="#" rel="1" ng-click="setLevel(s, 1)" ng-class="getLevelClass(s, 1)"></a>
                                    <a href="#" rel="2" ng-click="setLevel(s, 2)" ng-class="getLevelClass(s, 2)"></a>
                                    <a href="#" rel="3" ng-click="setLevel(s, 3)" ng-class="getLevelClass(s, 3)"></a>
                                </div>
                            </li>
                    </ul>
                    {% endverbatim %}
                    <div class="form-group" style="display: none;">
                        <input type="text" class="form-control" />
                    </div>
                    <a class="add-canvas-block-item" href="#"  data-toggle="modal" data-target="#add-element-modal-id">
                        <div class="icon-plus "></div>
                    </a>
                </td>

                </td>
                <td width="20%" ng-mouseover="setActiveBlock(relationship)">
                    <div class="canvas-element-title">
                        Customer Relationship
                    </div>
                    {% verbatim %}
                    <ul class="canvas-block-items">
                            <li ng-cloak ng-repeat="s in relationship.items | filter:searchActiveSegment">
                                <a href="#" ng-model="s.name" rel="#" class="canvas-element-item-link"> {{s.name}} (3)</a>
                                <a href="#" ng-click="editElement(s)" class="canvas-element-item-del" onclick="return false;">
                                    <span class="icon-edit pull-right"></span>
                                </a>
                                <div class="definition-level">
                                    <a href="#" rel="0" ng-click="setLevel(s, 0)" ng-class="getLevelClass(s, 0)"></a>
                                    <a href="#" rel="1" ng-click="setLevel(s, 1)" ng-class="getLevelClass(s, 1)"></a>
                                    <a href="#" rel="2" ng-click="setLevel(s, 2)" ng-class="getLevelClass(s, 2)"></a>
                                    <a href="#" rel="3" ng-click="setLevel(s, 3)" ng-class="getLevelClass(s, 3)"></a>
                                </div>
                            </li>
                    </ul>
                    {% endverbatim %}
                    <div class="form-group" style="display: none;">
                        <input type="text" class="form-control" />
                    </div>
                    <a class="add-canvas-block-item" href="#"  data-toggle="modal" data-target="#add-element-modal-id">
                        <div class="icon-plus "></div>
                    </a>
                </td>
                </td>
                <td width="20%" rowspan="2" class="segments" ng-mouseover="setActiveBlock(segments)">
                    <div class="canvas-element-title">
                        Customer Segments
                    </div>
                    {% verbatim %}
                    <ul class="canvas-block-items">
                            <li ng-cloak ng-repeat="s in segments.items" ng-class="activeSegmentClass(s, 'active')">
                                <a href="#" ng-model="s.name" rel="#"
                                   ng-class="activeSegmentClass(s, 'icon-play')" class="canvas-element-item-link"  ng-click="setActiveSegment(s)"> {{s.name}} (3)</a>
                                <a href="#" ng-click="editElement(s)" class="canvas-element-item-del" onclick="return false;">
                                    <span class="icon-edit pull-right"></span>
                                </a>
                                <div class="definition-level">
                                    <a href="#" rel="0" ng-click="setLevel(s, 0)" ng-class="getLevelClass(s, 0)"></a>
                                    <a href="#" rel="1" ng-click="setLevel(s, 1)" ng-class="getLevelClass(s, 1)"></a>
                                    <a href="#" rel="2" ng-click="setLevel(s, 2)" ng-class="getLevelClass(s, 2)"></a>
                                    <a href="#" rel="3" ng-click="setLevel(s, 3)" ng-class="getLevelClass(s, 3)"></a>
                                </div>
                            </li>
                    </ul>
                    {% endverbatim %}
                    <div class="form-group" style="display: none;">
                        <input type="text" class="form-control" />
                    </div>
                    <a class="add-canvas-block-item" href="#"  data-toggle="modal" data-target="#add-element-modal-id">
                        <div class="icon-plus "></div>
                    </a>
                </td>
                </td>
            </tr>
            <tr style="height: 200px">
                <td ng-mouseover="setActiveBlock(resources)">
                    <div class="canvas-element-title">
                        Key Resources
                    </div>
                    {% verbatim %}
                    <ul class="canvas-block-items">
                            <li ng-cloak ng-repeat="s in resources.items | filter:searchActiveSegment">
                                <a href="#" ng-model="s.name" rel="#" class="canvas-element-item-link"> {{s.name}} (3)</a>
                                <a href="#" ng-click="editElement(s)" class="canvas-element-item-del" onclick="return false;">
                                    <span class="icon-edit pull-right"></span>
                                </a>
                                <div class="definition-level">
                                    <a href="#" rel="0" ng-click="setLevel(s, 0)" ng-class="getLevelClass(s, 0)"></a>
                                    <a href="#" rel="1" ng-click="setLevel(s, 1)" ng-class="getLevelClass(s, 1)"></a>
                                    <a href="#" rel="2" ng-click="setLevel(s, 2)" ng-class="getLevelClass(s, 2)"></a>
                                    <a href="#" rel="3" ng-click="setLevel(s, 3)" ng-class="getLevelClass(s, 3)"></a>
                                </div>
                            </li>
                    </ul>
                    {% endverbatim %}
                    <div class="form-group" style="display: none;">
                        <input type="text" class="form-control" />
                    </div>
                    <a class="add-canvas-block-item" href="#"  data-toggle="modal" data-target="#add-element-modal-id">
                        <div class="icon-plus "></div>
                    </a>
                </td>
                </td>
                <td ng-mouseover="setActiveBlock(channels)">
                    <div class="canvas-element-title">
                        Channles
                    </div>
                    {% verbatim %}
                    <ul class="canvas-block-items">
                            <li ng-cloak ng-repeat="s in channels.items | filter:searchActiveSegment">
                                <a href="#" ng-model="s.name" rel="#" class="canvas-element-item-link"> {{s.name}} (3)</a>
                                <a href="#" ng-click="editElement(s)" class="canvas-element-item-del" onclick="return false;">
                                    <span class="icon-edit pull-right"></span>
                                </a>
                                <div class="definition-level">
                                    <a href="#" rel="0" ng-click="setLevel(s, 0)" ng-class="getLevelClass(s, 0)"></a>
                                    <a href="#" rel="1" ng-click="setLevel(s, 1)" ng-class="getLevelClass(s, 1)"></a>
                                    <a href="#" rel="2" ng-click="setLevel(s, 2)" ng-class="getLevelClass(s, 2)"></a>
                                    <a href="#" rel="3" ng-click="setLevel(s, 3)" ng-class="getLevelClass(s, 3)"></a>
                                </div>
                            </li>
                    </ul>
                    {% endverbatim %}
                    <div class="form-group" style="display: none;">
                        <input type="text" class="form-control" />
                    </div>
                    <a class="add-canvas-block-item" href="#"  data-toggle="modal" data-target="#add-element-modal-id">
                        <div class="icon-plus "></div>
                    </a>
                </td>
                </td>
            </tr>
            <tr style="height: 100px">
                <td colspan="3" width="50%" ng-mouseover="setActiveBlock(costs)">
                    <div class="canvas-element-title">
                        Cost Structure
                    </div>
                    {% verbatim %}
                    <ul class="canvas-block-items">
                            <li ng-cloak ng-repeat="s in costs.items | filter:searchActiveSegment">
                                <a href="#" ng-model="s.name" rel="#" class="canvas-element-item-link"> {{s.name}} (3)</a>
                                <a href="#" ng-click="editElement(s)" class="canvas-element-item-del" onclick="return false;">
                                    <span class="icon-edit pull-right"></span>
                                </a>
                                <div class="definition-level">
                                    <a href="#" rel="0" ng-click="setLevel(s, 0)" ng-class="getLevelClass(s, 0)"></a>
                                    <a href="#" rel="1" ng-click="setLevel(s, 1)" ng-class="getLevelClass(s, 1)"></a>
                                    <a href="#" rel="2" ng-click="setLevel(s, 2)" ng-class="getLevelClass(s, 2)"></a>
                                    <a href="#" rel="3" ng-click="setLevel(s, 3)" ng-class="getLevelClass(s, 3)"></a>
                                </div>
                            </li>
                    </ul>
                    {% endverbatim %}
                    <div class="form-group" style="display: none;">
                        <input type="text" class="form-control" />
                    </div>
                    <a class="add-canvas-block-item" href="#"  data-toggle="modal" data-target="#add-element-modal-id">
                        <div class="icon-plus "></div>
                    </a>
                </td>
                </td>
                <td colspan="3" width="50%" ng-mouseover="setActiveBlock(revenuestreams)">
                    <div class="canvas-element-title">
                        Revenue Streams
                    </div>
                    {% verbatim %}
                    <ul class="canvas-block-items">
                            <li ng-cloak ng-repeat="s in revenuestreams.items | filter:searchActiveSegment">
                                <a href="#" ng-model="s.name" rel="#" class="canvas-element-item-link"> {{s.name}} (3)</a>
                                <a href="#" ng-click="editElement(s)" class="canvas-element-item-del" onclick="return false;">
                                    <span class="icon-edit pull-right"></span>
                                </a>
                                <div class="definition-level">
                                    <a href="#" rel="0" ng-click="setLevel(s, 0)" ng-class="getLevelClass(s, 0)"></a>
                                    <a href="#" rel="1" ng-click="setLevel(s, 1)" ng-class="getLevelClass(s, 1)"></a>
                                    <a href="#" rel="2" ng-click="setLevel(s, 2)" ng-class="getLevelClass(s, 2)"></a>
                                    <a href="#" rel="3" ng-click="setLevel(s, 3)" ng-class="getLevelClass(s, 3)"></a>
                                </div>
                            </li>
                    </ul>
                    {% endverbatim %}
                    <div class="form-group" style="display: none;">
                        <input type="text" class="form-control" />
                    </div>
                    <a class="add-canvas-block-item" href="#"  data-toggle="modal" data-target="#add-element-modal-id">
                        <div class="icon-plus "></div>
                    </a>
                </td>
                </td>
            </tr>
        </table>
    </div>


{% endblock %}