{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="steps-recomendations">
        <h2><span>Recomendations</span> and Your for future tasks</h2>
        <div class="row">
            <div class="col-lg-4">
                <h3><span class="icon-group"></span> Customer</h3>
                <div class="steps-recomendations-item primary">
                    <a href="#"><i class="icon-plus"></i></a> <span>Test blogging channel</span>
                </div>
                <div class="steps-recomendations-item bg-danger">
                    <a href="#"><span class="glyphicon glyphicon-plus"></span></a> Test twoside bussiness model
                </div>
                <div class="steps-recomendations-item">
                    <a href="#"><span class="glyphicon glyphicon-plus"></span></a> Make pivot
                </div>
            </div>
            <div class="col-lg-4">
                <h3><span class="icon-wrench"></span> Product</h3>
                <div class="steps-recomendations-item bg-danger">
                    <a href="#"><span class="glyphicon glyphicon-plus"></span></a> Test twoside bussiness model
                </div>
                <div class="steps-recomendations-item">
                    <a href="#"><span class="glyphicon glyphicon-plus"></span></a> Make pivot
                </div>

            </div>
            <div class="col-lg-4">
                <h3><span class="icon-money"></span> Fundrising</h3>
                <div class="steps-recomendations-item bg-primary">
                    <a href="#"><span class="glyphicon glyphicon-plus"></span></a> Test blogging channel
                </div>
                <div class="steps-recomendations-item bg-danger">
                    <a href="#"><span class="glyphicon glyphicon-plus"></span></a> Test twoside bussiness model
                </div>
                <div class="steps-recomendations-item">
                    <a href="#"><span class="glyphicon glyphicon-plus"></span></a> Make pivot
                </div>

            </div>
        </div>
        <button class="btn btn-success" data-toggle="modal" data-target="#addNewModal">
            <span class="glyphicon glyphicon-plus"></span>
            Add new item</button>
    </div>

    <hr />

    <div class="steps-in-progress">
        <h2>In progress</h2>
        <div class="row">
            <div class="col-lg-4">
                <h3><span class="icon-group"></span> Customer</h3>
                <div class="steps-recomendations-item">
                    <a href="#"><span class="icon-check-empty"></span></a> Test blogging channel 2
                </div>
                <div class="steps-recomendations-item">
                    <a href="#"><span class="icon-check-empty"></span></a> Test blogging channel 2
                        <ul class="steps-in-progress-tasks">
                            <li>
                                <label>
                                    <input type="checkbox" checked="checked" /> Register in Facebook
                                </label>
                                <a href="#" class="remove-task">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </a>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox" /> Register in LinkedIn
                                </label>
                                <a href="#" class="remove-task">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </a>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox" /> Register in Twitter
                                </label>
                                <a href="#" class="remove-task">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </a>
                            </li>
                        </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <h3><span class="icon-wrench"></span> Product</h3>
                <div class="steps-recomendations-item">
                    <a href="#"><span class="icon-check-empty"></span></a> Fix social auth registration
                </div>
            </div>
            <div class="col-lg-4">
                <h3><span class="icon-money"></span> Fundrising</h3>
                <div class="steps-recomendations-item">
                    <a href="#"><span class="icon-check-empty"></span></a> Post alpha version release
                    <div id="charts"></div>
                </div>
                <div class="steps-recomendations-item">
                    <a href="#"><span class="icon-check-empty"></span></a> Prepare executive summary
                </div>
            </div>
        </div>
{#        <div class="steps-in-progress-item">#}
{#            <div class="steps-in-progress-item-step width-100">#}
{#                <div class="steps-in-progress-item-step-date">13 august</div>#}
{#                <div class="steps-in-progress-item-step-text"> <span class="glyphicon glyphicon-wrench"></span> Make mockup for prototyping</div>#}
{#            </div>#}
{#            <a href="#">edit</a>#}
{#            <a href="#">done</a>#}
{#            <a href="#">leave for future</a>#}
{#            <a href="#">delete</a>#}
{#        </div>#}
{##}
{#        <div class="steps-in-progress-item">#}
{#            <div class="steps-in-progress-item-step width-50">#}
{#                <div class="steps-in-progress-item-step-date">21 june</div>#}
{#                <div class="steps-in-progress-item-step-text"><span class="glyphicon glyphicon-user"></span> Disquss with first users</div>#}
{#            </div>#}
{#            <ul class="steps-in-progress-tasks">#}
{#                <li>#}
{#                    <label>#}
{#                        <input type="checkbox" checked="checked" /> Register in Facebook#}
{#                    </label>#}
{#                    <a href="#" class="remove-task">#}
{#                        <span class="glyphicon glyphicon-remove-circle"></span>#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <label>#}
{#                        <input type="checkbox" /> Register in LinkedIn#}
{#                    </label>#}
{#                    <a href="#" class="remove-task">#}
{#                        <span class="glyphicon glyphicon-remove-circle"></span>#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <label>#}
{#                        <input type="checkbox" /> Register in Twitter#}
{#                    </label>#}
{#                    <a href="#" class="remove-task">#}
{#                        <span class="glyphicon glyphicon-remove-circle"></span>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#        <div class="steps-in-progress-item">#}
{#            <div class="steps-in-progress-item-step width-70">#}
{#                <div class="steps-in-progress-item-step-date">6 july</div>#}
{#                <div class="steps-in-progress-item-step-text"><span class="glyphicon glyphicon-usd"></span> Make paper test</div>#}
{#            </div>#}
{#            <div id="charts"></div>#}
{#        </div>#}
    </div>

    <hr />

    <div class="steps-done">
        <h2>Done</h2>
        <div class="row">
            <div class="col-lg-4">
                <h3><span class="icon-group"></span> Customer</h3>
                <div class="steps-done-item">
                    <span class="icon-ok pull-right"></span>
                     <a href="#">
                        <span class="icon-sort-down"></span>
                    </a>
                    Research market
                    <div class="steps-done-item-desc">
                        <hr />
                        <b>13:23 10.04.2014</b> I did it. I'm a God.
                    </div>
                </div>
                <div class="steps-done-item">
                    <span class="icon-ok pull-right"></span>
                    <a href="#">
                    <span class="icon-sort-down"></span>
                </a>
                    Review concurents
                    <div class="steps-done-item-desc">
                        <hr />
                        <b>13:23 10.04.2014</b> I did it. I'm a God.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h3><span class="icon-wrench"></span> Product</h3>
                <div class="steps-done-item">
                    <span class="icon-ok pull-right"></span>
                    <a href="#">
                    <span class="icon-sort-down"></span>
                </a>
                    Research market
                    <div class="steps-done-item-desc">
                        <hr />
                        <b>13:23 10.04.2014</b> I did it. I'm a God.
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <h3><span class="icon-money"></span> Fundrising</h3>
                <div class="steps-done-item">
                    <span class="icon-ok pull-right"></span>
                     <a href="#">
                    <span class="icon-sort-down"></span>
                </a>
                    Research market
                    <div class="steps-done-item-desc">
                        <hr />
                        <b>13:23 10.04.2014</b> I did it. I'm a God.
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="addNewModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add new step</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-3">Task</label>
                            <div class="col-lg-9">
                                <input class="form-control" placeholder="What shall be done">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3">Category</label>
                            <div class="col-lg-9">
                                <select class="form-control">
                                    <option>Customer</option>
                                    <option>Product</option>
                                    <option>Fundrising</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3">Graphic-nased</label>
                            <div class="col-lg-9">
                                <input checked="checked" class="" type="checkbox" />
                            </div>
                        </div>
                        <div class="form-group">
{#                            <label class="col-lg-3">Graphic-nased</label>#}
                            <div class="col-lg-9 col-lg-offset-3">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <select class="form-control">
                                            <option>User count</option>
                                            <option>Money</option>
                                            <option>Bounce Rate</option>
                                            <option>Premium users</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6">
                                        <input class="form-control" placeholder="Value" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3">Deadline</label>
                            <div class="col-lg-9">
                                <input class="form-control" placeholder="19.05.2014" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Add Task</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}