{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="steps-recomendations">
        <h4><span>Recomendations</span> and Your for future tasks</h4>
        <div class="row">
            <div class="col-lg-4">
                <h3>Customer</h3>
                <div class="steps-recomendations-item bg-primary">
                    <a href="#"><span class="glyphicon glyphicon-plus"></span></a> Test blogging channel
                </div>
                <div class="steps-recomendations-item bg-danger">
                    <a href="#"><span class="glyphicon glyphicon-plus"></span></a> Test twoside bussiness model
                </div>
                <div class="steps-recomendations-item">
                    <a href="#"><span class="glyphicon glyphicon-plus"></span></a> Make pivot
                </div>
            </div>
            <div class="col-lg-4">
                <h3>Product</h3>
                <div class="steps-recomendations-item bg-danger">
                    <a href="#"><span class="glyphicon glyphicon-plus"></span></a> Test twoside bussiness model
                </div>
                <div class="steps-recomendations-item">
                    <a href="#"><span class="glyphicon glyphicon-plus"></span></a> Make pivot
                </div>

            </div>
            <div class="col-lg-4">
                <h3>Fundrising</h3>
                <div class="steps-recomendations-item bg-primary">
                    <a href="#"><span class="glyphicon glyphicon-plus"></span></a> Test blogging channel
                </div>
                <div class="steps-recomendations-item bg-danger">
                    <a href="#"><span class="glyphicon glyphicon-plus"></span></a> Test twoside bussiness model
                </div>
                <div class="steps-recomendations-item">
                    <a href="#"><span class="glyphicon glyphicon-plus"></span></a> Make pivot
                </div>

            </div>
        </div>
        <button class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            Add new item</button>
    </div>

    <hr />

    <div class="steps-in-progress">
        <h4>In progress</h4>
    </div>

    <hr />

    <div class="steps-done">
        <h4>Done</h4>
        <div class="row">
            <div class="col-lg-4">
                <h3>Customer</h3>
                <div class="steps-done-item">
                    <span class="glyphicon glyphicon-ok"></span> Research market <a href="#">
                        <span class="caret"></span>
                    </a>
                </div>
                <div class="steps-done-item">
                    <span class="glyphicon glyphicon-ok"></span> Review concurents
                </div>
            </div>
            <div class="col-lg-4">
                <h3>Product</h3>
                <div class="steps-done-item">
                    <span class="glyphicon glyphicon-ok"></span> Research market
                </div>

            </div>
            <div class="col-lg-4">
                <h3>Fundrising</h3>
                <div class="steps-done-item">
                    <span class="glyphicon glyphicon-ok"></span> Research market
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}