{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class="row">
    <div class="col-lg-2">
        <h2>Startup</h2>
        <ul class="main-objects">
            <li>
                <a href="#">Customers</a>
                <ul class="sub-objects">
                    <li>
                        <a href="#">Customer Segment 1</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Product</a>
                <ul class="sub-objects">
                    <li>
                        <a href="#">Team</a>
                    </li>
                    <li>
                        <a href="#">Features</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Fundrising</a>
                <ul class="sub-objects">
                    <li>
                        <a href="#">Press</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-lg-5 border-strategy">
        <h2>Facts</h2>
        <div class="steps">
            <div class="stepwizard">
                <div class="stepwizard-row">
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-primary btn-circle">1</button>
                        <p>Hypothesis</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-primary btn-circle">2</button>
                        <p>Research</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
                        <p>Fact</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle" disabled="disabled">4</button>
                        <p>Money</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="alerts">
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>You lose your money</strong> Convertion rate of your landing page decreased to 0.01%
            </div>
        </div>
        <div class="strategy-analytics" id="graphics">
        </div>
        <div class="strategy-logs">
            <h4>Log</h4>
            <div class="strategy-log">
                <div class="strategy-log-header">
                    <b>13:56 04.02.2014</b> Hypothesis -> Research
                </div>
                <div class="strategy-log-body">
                    I made polls to test my idea
                </div>
            </div>
            <hr />
            <div class="strategy-log">
                <div class="strategy-log-header">
                    <b>13:56 04.02.2014</b> Hypothesis -> Research
                </div>
                <div class="strategy-log-body">
                    I made polls to test my idea
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-5 border-strategy strategy-steps">
        <h2>To-dos</h2>
        <div class="strategy-recomendation">
            <h4>Recomendations:</h4>
            <ul>
                <li>
                    <label>
                        <input type="checkbox" /> Test blogging channel
                    </label>
                    <a href="#">
                        <span class="glyphicon glyphicon-thumbs-down pull-right"></span>
                    </a>
                    <a href="#">
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </li>
                <li>
                    <label>
                        <input type="checkbox" /> Test twoside bussiness model
                    </label>
                    <a href="#">
                        <span class="glyphicon glyphicon-thumbs-down pull-right"></span>
                    </a>
                    <a href="#">
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </li>
                <li>
                    <label>
                        <input type="checkbox" /> Make pivot
                    </label>
                    <a href="#">
                        <span class="glyphicon glyphicon-thumbs-down pull-right"></span>
                    </a>
                    <a href="#">
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </li>
            </ul>
        </div>
        <hr />
        <div class="strategy-recomendation">
            <h4>In progress:</h4>
            <ul>
                <li>
                    <label>
                        <input type="checkbox" /> Make mockup for prototyping
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" /> Disquss with first users
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" /> Make paper test
                    </label>
                </li>
            </ul>
        </div>
        <hr />
        <div class="strategy-recomendation strategy-steps-done">
            <h4>Done:</h4>
            <ul>
                <li>
                    <label>
                        <input type="checkbox" checked="checked" onclick="return false;" /> Research market
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" checked="checked" onclick="return false;" /> Review concurents
                    </label>
                </li>
            </ul>
        </div>
    </div>
    </div>
    </div>
{% endblock %}