{% extends 'base.html' %}

{% load canvas_filters %}

{% block content %}
    <div class="container summary">
        <h1>Executive Summary
            <a target="_blank" href="{{ pdf_link }}" class="btn btn-primary pull-right"><i class="icon-print"></i> PDF</a>
{#            <a target="_blank" href="{{ social_link }}" class="btn btn-primary pull-right es-share-btn"><i class="icon-globe"></i> Share</a>#}
        </h1>
        <div class="row">
            {% for sg in summary_groups %}
                <div class="col-xs-2">
                    <a href="#{{ sg.name }}">{{ sg.name }}</a>
                    <ul>
                        {% for si in sg.items.all|by_user:request.user %}
                            <li>
                                <a href="#{{ si.name }}">{{ si.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        {% for sg in summary_groups %}
            <a name="{{ sg.name }}"></a>
            <h2>{{ sg.name }}</h2>
            {% for si in sg.items.all|by_user:request.user %}
                <div class="es-data">
                    <a href="#{{ si.name }}"></a>
                    <h2>{{ si.name }}</h2>
                        {% for block in si.blocks.all %}
                            <div class="es-block">
                                {{ block.render }}
                                <div class="es-edit-block">
                                    <a href="#" rel="{{ block.pk }}" data-toggle="modal" data-target="#add-summary-text-block-modal-id">Edit</a>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="es-addon-btns">
                            {% if sic.add_linkedin %}
                                <button value="{{ si.pk }}" class="btn btn-default summary-add-linkedin" data-toggle="modal" data-target="#add-summary-text-block-modal-id">Add LinkedIn</button>
                            {% endif %}
                            {% if si.add_text %}
                                <button value="{{ si.pk }}" class="btn btn-default summary-add-text" data-toggle="modal" data-target="#add-summary-text-block-modal-id">Add text</button>
                            {% endif %}
                            {% if si.add_image %}
                                <button value="{{ si.pk }}" class="btn btn-default summary-add-image" data-toggle="modal" data-target="#add-summary-text-block-modal-id">Add image</button>
                            {% endif %}
                            {% if si.add_link %}
                                <button value="{{ si.pk }}" class="btn btn-default summary-add-link" data-toggle="modal" data-target="#add-summary-text-block-modal-id">Add link</button>
                            {% endif %}
                        </div>

                        {% for sic in si.childs.all %}
                            <h4>{{ sic.name }}</h4>
                            {% for block in sic.blocks.all %}
                                <div class="es-block">
                                    {{ block.render|safe }}
                                    <div class="es-edit-block">
                                        <a href="#" rel="{{ block.pk }}" data-toggle="modal" data-target="#add-summary-text-block-modal-id">Edit</a>
                                    </div>
                                </div>
                            {% endfor %}
                                <div class="es-addon-btns">
                                    {% if sic.add_linkedin %}
                                        <button value="{{ sic.pk }}" class="btn btn-default summary-add-linkedin" data-toggle="modal" data-target="#add-summary-text-block-modal-id">Add LinkedIn</button>
                                    {% endif %}
                                    {% if sic.add_text %}
                                        <button value="{{ sic.pk }}" class="btn btn-default summary-add-text" data-toggle="modal" data-target="#add-summary-text-block-modal-id">Add text</button>
                                    {% endif %}
                                    {% if sic.add_image %}
                                        <button value="{{ sic.pk }}" class="btn btn-default summary-add-image" data-toggle="modal" data-target="#add-summary-text-block-modal-id">Add image</button>
                                    {% endif %}
                                    {% if sic.add_link %}
                                        <button value="{{ sic.pk }}" class="btn btn-default summary-add-link"  data-toggle="modal" data-target="#add-summary-text-block-modal-id">Add link</button>
                                    {% endif %}
                                </div>
                        {% endfor %}

                </div>
            {% endfor %}
        {% endfor %}
    </div>

        <div class="modal fade" id="add-summary-text-block-modal-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add text block</h4>
                </div>
                    <div class="modal-body">
                        <div style="display: none;" class="alert-success">
                            Block successfully added
                        </div>
                        <div class="modal-form-body">


                        </div>
                    </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
{% endblock %}