{% extends 'base.html' %}

{% block content %}
    <div class="container summary">
        <h1>Executive Summary</h1>
        {% for si in summary_items %}
        <div class="es-data">
            <h2>{{ si.name }}</h2>

            {% if si.childs %}
                {% for sic in si.childs.all %}
                    <h4>{{ sic.name }}</h4>
                    {% for block in sic.blocks.all %}
                        <div>
                            {{ block.render|safe }}
                        </div>
                    {% endfor %}
                        <div class="es-addon-btns">
                            {% if sic.add_text %}
                                <button value="{{ sic.pk }}" class="btn btn-default summary-add-text" data-toggle="modal" data-target="#add-summary-text-block-modal-id">Add text</button>
                            {% endif %}
                            {% if sic.add_image %}
                                <button value="{{ sic.pk }}" class="btn btn-default summary-add-image" data-toggle="modal" data-target="#add-summary-text-block-modal-id">Add image</button>
                            {% endif %}
                            {% if sic.add_link %}
                                <button value="{{ sic.pk }}" class="btn btn-default summary-add-link"  data-toggle="modal" data-target="#add-summary-text-block-modal-id">Add link</button>
                            {% endif %}
                        </div>
                {% endfor %}
            {% else %}
                {% for block in si.blocks.all %}
                    <div>
                        {{ block.render }}
                    </div>

                {% endfor %}
                    {% if si.add_text %}
                        <button value="{{ si.pk }}" class="btn btn-default summary-add-text" data-toggle="modal" data-target="#add-summary-text-block-modal-id">Add text</button>
                    {% endif %}
                    {% if si.add_image %}
                        <button value="{{ si.pk }}" class="btn btn-default summary-add-image" data-toggle="modal" data-target="#add-summary-text-block-modal-id">Add image</button>
                    {% endif %}
                    {% if si.add_link %}
                        <button value="{{ si.pk }}" class="btn btn-default summary-add-link" data-toggle="modal" data-target="#add-summary-text-block-modal-id">Add link</button>
                    {% endif %}

            {% endif %}

            {% for sge in sg.items.all %}
                <div class="es-item">
                    <h4 class="{% if sge.is_empty_text %}text-success{% else %}text-danger{% endif %}">{{ sge.name }} <span class="{% if sge.public %}icon-eye-open{% else %}icon-eye-closed{% endif %}"></span></h4>
                    <div class="es-item-text {% if sge.is_empty_text %}done{% else %}empty{% endif %}">
                        <form method="POST" action="{% url 'summary-item-update' pk=sge.pk %}">
                            {% csrf_token %}
                            <textarea name="text" id="es0-text-area" class="es-item-text-area" style="display: none;"></textarea>
                            <div class="es-item-text-view">{{ sge.text }}</div>
                        </form>
                    </div>
                    <div class="es-item-btns">
                        <div class="view-settings">Who can view: <a href="#">{% if sge.public %}Everyone{% else %}Only me{% endif %}</a></div>
                        <button class="btn btn-primary" style="display: none;"> Save</button>
                    </div>
                </div>
                {% if not forloop.last %}
                    <hr />
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

        <div class="modal fade" id="add-summary-text-block-modal-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add text block</h4>
                </div>
                    <div class="modal-body">
                        <div style="display: none;" class="alert-success">
                            Block successfully added
                        </div>
                        <div class="modal-form-body">


                        </div>
                    </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
{% endblock %}