{% extends 'base.html' %}

{% block content %}
    <div class="container summary">
    <h1>Executive Summary</h1>
    <div class="es-description">
        <h4>
            Здесь собрана вся важная информация о вашем проекте
        </h4>
        <div>Заполняйте:</div>
        <div>Формируйте:</div>
        <div>Отправляйте:</div>
    </div>
    <div class="es-links">
        <div class="row">
            <div class="col-lg-2">
                <div class="main-link">
                    <a href="#about">О проекте</a>
                </div>
                <div class="sub-links">
                    <a href="#descripion"><span class="glyphicon glyphicon-ok"></span> Описание</a>
                </div>
                <div class="sub-links">
                    <a href="#achivement"><span class="glyphicon glyphicon-remove"></span> Достижения</a>
                </div>
                <div class="sub-links">
                    <a href="#advisors"><span class="glyphicon glyphicon-remove"></span> Адвизоры</a>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="main-link">
                    <a href="#about">О продукте</a>
                </div>
                <div class="sub-links">
                    <a href="#descripion"><span class="glyphicon glyphicon-ok"></span> Целевая аудитория</a>
                </div>
                <div class="sub-links">
                    <a href="#achivement"><span class="glyphicon glyphicon-remove"></span> Проблема</a>
                </div>
                <div class="sub-links">
                    <a href="#advisors"><span class="glyphicon glyphicon-ok"></span> Решение</a>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="main-link">
                    <a href="#about">Внешние факторы</a>
                </div>
                <div class="sub-links">
                    <a href="#descripion"><span class="glyphicon glyphicon-ok"></span> Рынок</a>
                </div>
                <div class="sub-links">
                    <a href="#achivement"><span class="glyphicon glyphicon-remove"></span> Конкуренты</a>
                </div>
                <div class="sub-links">
                    <a href="#advisors"><span class="glyphicon glyphicon-remove"></span> Преимущества</a>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="main-link">
                    <a href="#about">О компании</a>
                </div>
                <div class="sub-links">
                    <a href="#descripion"><span class="glyphicon glyphicon-ok"></span> Бизнес-модель</a>
                </div>
                <div class="sub-links">
                    <a href="#achivement"><span class="glyphicon glyphicon-remove"></span> Команда</a>
                </div>
                <div class="sub-links">
                    <a href="#advisors"><span class="glyphicon glyphicon-remove"></span> Технология</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="main-link">
                    <a href="#about">ХЗ как назвать</a>
                </div>
                <div class="sub-links">
                    <a href="#descripion"><span class="glyphicon glyphicon-ok"></span> Стратгеия продвижения</a>
                </div>
                <div class="sub-links">
                    <a href="#achivement"><span class="glyphicon glyphicon-remove"></span> Финанс и план-график</a>
                </div>
                <div class="sub-links">
                    <a href="#advisors"><span class="glyphicon glyphicon-remove"></span> Предложение инвестору</a>
                </div>
            </div>
        </div>
    </div>
    <div class="es-data">
        <h2>О проекте</h2>
        <div class="es-item">
            <h4>Описание <span class="glyphicon glyphicon-eye-open"></span></h4>
            <div class="es-item-text">
                <textarea class="es-item-text-area" style="display: none;"></textarea>
                <div class="es-item-text-view">Big Data платформа для CEO стартапов</div>
            </div>
            <div class="es-item-btns">
                <div class="view-settings">Who can view: <a href="#">Everyone</a></div>
                <button class="btn btn-primary" style="display: none;"> Save</button>
            </div>
        </div>
    </div>
    </div>
{% endblock %}