{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <h1>Executive Summary</h1>
    <div class="es-description">
        <h4>
            Здесь собрана вся важная информация о вашем проекте
        </h4>
        <div>Заполняйте:</div>
        <div>Формируйте:</div>
        <div>Отправляйте:</div>
    </div>
    <div class="es-links">
        <div class="row">
            <div class="col-lg-2">
                <div class="main-link">
                    <a href="#about">О проекте</a>
                </div>
                <div class="sub-links">
                    <a href="#descripion">Описание</a>
                </div>
                <div class="sub-links">
                    <a href="#achivement">Достижения</a>
                </div>
                <div class="sub-links">
                    <a href="#advisors">Адвизоры</a>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}