{% extends 'base.html' %}

{% block body_content %}
    <div class="container create-project">
        <h1>Создайти свой проект</h1>
        <p>
            ABSLY позволит тебе продуктивно управлять стартапом. Для этого сервису необходима информация о твоем проекте.
        </p>
        <p>
            Твои данные в безопасности. Только ты определяешь, что доступно посторонним.
        </p>
        <form method="POST" action="">
            <div class="form-group field-box">
                <label>Are you first time founder ?</label>
                <label class="checkbox-inline">
                  <div class="checker" id="uniform-inlineCheckbox1">
                      <span>
                          <input type="checkbox" value="1" id="inlineCheckbox1">
                      </span>
                  </div>
                </label>

            </div>
            <div class="form-group field-box">
                <input type="text" name="is_first" class="form-control" required="required" placeholder="Введите название проекта" />
            </div>
            <div class="form-group field-box">
                <textarea placeholder="Опишите свой проект" class="form-control" required="required"></textarea>
            </div>
            <div class="form-group field-box">
                <input type="text" name="is_first" class="form-control" placeholder="Введите сайт проекта" />
            </div>
            <div class="addon-create-project" style="display: none">
                <h3>Уточните информацию о проекте</h3>
                <div class="form-group field-box">
                    <textarea placeholder="Опишите какую проблему решаете" class="form-control"></textarea>
                </div>
                <div class="form-group field-box">
                    <label>
                        Ваша целевая аудитория
                    </label>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" placeholder="Введите название ЦА" class="form-control inline-input" />
                        </div>
                        <div class="col-xs-6">
                            <select class="select-customer">
                                <option >Люди</option>
                                <option >Бизнес</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Создать проект</button>
            </div>
        </form>
    </div>
{% endblock %}