{% extends 'base.html' %}

{% load widget_tweaks %}

{% block body_content %}
    <div class="container create-project">
        <h1>Создайте свой проект</h1>
        <p>
            ABSLY позволит тебе продуктивно управлять стартапом. Для этого сервису необходима информация о твоем проекте.
        </p>
        <p>
            Твои данные в безопасности. Только ты определяешь, что доступно посторонним.
        </p>
        <form method="POST" action="">{% csrf_token %}
            {% for error in project_form.nonfield_errors %}
                <div class="alert-danger alert">{{ error }}</div>
            {% endfor %}
            {% for field in project_form.fields %}
                {% if field.errors %}
                    <div class="alert-danger alert">{{ field.errors }}</div>
                {% endif %}
            {% endfor %}
            <div class="form-group field-box">
                {{ project_form.is_first }} {{ project_form.is_first.label_tag }}
            </div>
            <div class="form-group field-box">
                {{ project_form.name|add_class:"form-control"|attr:"required:required"|attr:"placeholder:Введите название проекта" }}
            </div>
            <div class="form-group field-box">
                {{ project_form.desc|add_class:"form-control"|attr:"required:required"|attr:"placeholder:Опишите свой проект" }}
            </div>
            <div class="form-group field-box">
                {{ project_form.site|add_class:"form-control"|attr:"placeholder:Введите сайт проекта" }}
            </div>
            <div class="addon-create-project" style="display: none">
                <h3>Уточните информацию о проекте</h3>
                <div class="form-group field-box">
                    {{ project_form.problem|add_class:"form-control"|attr:"placeholder:Опишите какую проблему решаете" }}
                </div>
                <div class="form-group field-box">
                    <label>
                        Ваша целевая аудитория
                    </label>
                    {{ project_customers_formset.management_form }}
                    {% for form in project_customers_formset %}
                        <div class="row form-group create-customer-group" {% if not forloop.first %}style="display: none;"{% endif %}>
                            <div class="col-xs-5">
                                {{ form.name|add_class:"form-control"|attr:"placeholder:Введите название ЦА" }}
                            </div>
                            <div class="col-xs-5">
                                {{ form.type|add_class:"select-customer" }}
                            </div>
                            {% if not forloop.last %}
                                <div class="col-xs-1 col-xs-offset-1">
                                    <button class="btn btn-default create-customer-btn"><i class="icon-plus-sign"></i></button>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Создать проект</button>
            </div>
        </form>
    </div>
{% endblock %}